export APP_HOME="$PWD"
export DAG_HOME="$HOME/git/kameshsampath/dag-stack"
export ARGO_CD_PROJECT="default"
export KUBECONFIG="$DAG_HOME/.kube/config"
export GIT_URL="http://gitea-127.0.0.1.sslip.io:30950"
export GIT_USER=user-01
export GIT_REPO="http://gitea-127.0.0.1.sslip.io:30950/${GIT_USER}/quarkus-springboot-demo-gitops.git"
export REGISTRY_NAME=nexus.infra.svc.cluster.local
# always 31081 for in cluster push and pull
# export REGISTRY_PORT=31081
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
