export APP_GITOPS_HOME="$PWD"
export DAG_HOME="$HOME/git/kameshsampath/dag-stack"
export ARGO_CD_PROJECT="java-apps"
export GIT_USER=user-01
export GIT_USER_PASSWORD=user-01@123
export GIT_REPO="http://kubernetes-vm.${_SANDBOX_ID}.instruqt.io:30950/${GIT_USER}/quarkus-springboot-demo-gitops.git"
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export QSBD_GIT_REPO="${GITEA_USERNAME}/quarkus-springboot-demo"
export QSBD_GIT_REV="instruqt"
export QSBD_GITOPS_GIT_REPO="${GITEA_USERNAME}/quarkus-springboot-demo-gitops"
export QSBD_GITOPS_GIT_REV="instruqt"

# add all your local settings here
source_env_if_exists .envrc.local